.PokemonStatsContainer {
    background-color: rgb(18, 18, 18);
    color: white;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 500px;
    position: relative;
    border-radius: 5%;
    border: 2px solid rgb(114, 0, 0);
    backdrop-filter: blur(25px);
    transition: 
        border 1s ease,
        opacity 1s ease, transform 1s ease !important;
}
.PokemonStatsContainer:hover {
    border: 2px solid rgb(255, 255, 255);
}


.PokemonSprite img {
    position: absolute;
    image-rendering: pixelated;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    margin-top: 70px;
}

.PokemonTitle {
    margin-top: 130px;
}